/* 
 * Тут мы используем БЭМ 
 * Ref: https://www.youtube.com/watch?v=lQPs20b3Ey8
 */

 @import url(./all.css);

.motto {
  padding-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.motto__label {
  margin-left: 25px;
  font-style: italic;
  font-size: 14px;
}

.header {
  border-bottom: 1px solid #888888;
  text-align: left;
  height: 53px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.header--extended-height {
  height: 125px !important;
}

.header__logo {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.header__name55 {
  font-size: 24px;
  margin-left: 2px;
  margin-top: 6px;
}

.header__menubar {
  margin-top: 19px;
  margin-left: auto;
}

.menu {
  position: sticky;
  top: 53px;
  z-index: 3;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

.menu--extended-offset {
  top: 125px !important;
}

.menu__list {
  position: absolute;
  right: 0;
  list-style: none;
  padding-inline-start: 0px;
  z-index: 4;
  margin-bottom: 0;
}

.menu__list-item {
  text-align: center;
}

.menu__link {
  color: rgb(56, 56, 56);
  display: block; 
  width: 180px; 
  background: rgb(236, 236, 236); 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 0px !important;
  justify-content: center;
}

.menu__link:hover {
  text-decoration: none; 
  background-color: #d3d3d3;
  color: rgb(56, 56, 56);
}

.menu__icon {
  width: 20px;
  height: 20px;
  margin: 3px 5px 5px 0;
}

.home {
  color: #0275D8;
  font-size: 14px;
  font-style: italic;
  text-decoration-line: underline;
  text-align: left;
  margin-left: 10px;
}

.news {
  border: 1px solid #4444;
  padding: 5px 15px 10px;
}
